venv/
descargas/
Datos/

Entrega-1/dataset_modelo.parquet
Entrega-1/Datos_limpios.parquet
Entrega-1/Datos_Unificados.parquet

Entrega-2/dataset_modelo.parquet
Entrega-2/Datos_limpios.parquet

Entrega Feria/dataset_modelo.parquet

App/Data/lic_2026-5.csv
App/Data/lic_2026-6.csv
